body{
    background-color: black;
}

*{
    cursor: default;
    text-decoration: none;
}

.bodydiv{
    height: 600px;
    width: 700px;
    margin: auto;
}

.buttonone{
    height: 100px;
    width: 300px;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttontwo{
    height: 100px;
    width: 300px;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 10px;
}

.buttonthree{
    height: 130px;
    width: 300px;
    border: 3px solid white;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttonone>p{
    font-family: "bungee shade";
}

.buttontwo>p{
    font-family: "bungee shade";
}

.buttonthree>p{
    font-family: "bungee shade";
}

.buttonone, .buttontwo, .buttonthree{
    transition: .2s;
}

.buttonone:hover, .buttontwo:hover, .buttonthree:hover{
    width: 310px;
}

.buttonone:hover{
    color: #ffc425;
}

.buttontwo:hover{
    color: #00aedb;
}

.buttonthree:hover{
    color: #ab00f9;
}

.top{
    height: 400px;
    width: 400px;
    border: 3px solid white;
    margin: auto
}

.user{
    color: white;
    font-family: helvetica;
    text-align: center;
    font-size: 20px;
    margin-top: 55px;
}

#user{
    border: 2px solid #82ee7f;
    background-color: black;
    outline: none;
    font-family: helvetica;
    margin-left: 175px;
    color: white;
    text-align: center;
}

.pass{
    color: white;
    font-family: helvetica;
    text-align: center;
    font-size: 20px;
    margin-top: 55px;
}

#pass{
        border: 2px solid #82ee7f;
        background-color: black;
        outline: none;
        font-family: helvetica;
        margin-left: 175px;
        color: white;
        margin-top: 30px;
        text-align: center;
}

.submit{
    background-color: black;
    color: white;
    border: 2px solid white;
    display: block;
    margin: auto;
    margin-top: 30px;
    outline: none;
    transition: .2s;
}

.submit:hover{
    border-left: 5px solid white;
    border-right: 5px solid white;
}

#new_account{
    height: 100px;
    width: 10px;
    margin: auto;
    border: 3px solid white;
    margin-top: 30px;
    color: white;
    text-align: center;
    font-family: helvetica;
    font-size: 20px;
    transition: .2s;
}

#new_account>p{
    margin-top: 35px;
}

#new_account:hover{
    color: black;
    background-color: #82ee7f;
}

.abouttext{
    color: white;
    text-align: center;
    font-family: 'bungee';
    font-size: 19px;
    color: red;
}

.bold{
    transition: 5s;
    font-weight: bold;
    color: white;
}

#stay{
    position: static;
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 60px;
}

/*create_new.php*/

#new_case{
    border: 2px solid white;
    width: 500px;
    margin: auto;
    height: 510px;
}

.new_input{
    margin-bottom: 30px;
    outline: none;
    border: 2px solid #82ee7f;
    background-color: black;
    text-align: center;
    font-family: sans-serif;
    color: white;
    margin-left: 175px;

}

#new_title{
    font-family: sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 60px;
}

.new_text{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

#post_box:hover{
    box-shadow: 5px 2px white;
}

#contain_profile{
    width: 800px;
    margin: auto;
    background-color: #2d2d2d;
}

#block{
    width: 10px;
    height: 10px;
}

#not_text{
    transition: .3s;
}

#not_text:hover{
    margin-left: 10px;
}

.center_contain{
    margin: auto;
    width: 500px;
}

.ci:hover{
    margin-top: 10px;
}

.cd:hover{
    margin-top: 10px;
}

#index_title{
    font-family: 'bungee';
    color: yellow;
    text-shadow: -2px 2px white;
    font-size: 42px;
}
